body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #212121;
    opacity: 0.9;
    color: #bdbdbd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}
footer {
    position: sticky;
    width: 100%;
    z-index: 1000;
}
.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-left .logo {
    font-size: 24px;
    font-weight: bold;
}

.header-left .info {
    margin: 0 15px 0 150px;
    justify-content: space-between;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right .login-button {
    background-color: #ff8c00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

#top-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1f1e1e;
    color: white;
    z-index: 1;
    width: 100%;
    height: 1em;
    opacity: 0.9;
}

.num {
    background-color: #ff8222;
    color: #fff;
    border-radius: 100px;
    padding: 4px 6px;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 2px;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

.name {
    color: #ff5900;
}

.description {
    flex: 1;
    text-align: left;
    justify-content: center;
    padding-left: 10px;
    height: 60px;
}

.category {
    text-align: left;
    padding-left: 10px;
    height: 10px;
}

.container-main {
    display: flex;
    padding-top: 80px; 
}

.container {
    background-color: rgba(255, 249, 232, 0.998);
    flex: 3;
    padding: 20px;
}

.pizza-category-buttons {
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pizza-category-buttons div {
    color: #ff8c00;
}
.pizza-category-buttons button {
    background-color: #ff8c00;
    color: #fff;
    border: none;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.grid-weight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
}

.grid-price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid-buy {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-bottom: 20px;
}

.grid-price h1,
.grid-price .grid-price-item {
    margin: 5px 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.pizza-item {
    border: 1px solid #ccc;
    padding: 0;
    text-align: center;
    background-color: white;
}

.pizza-item img {
    max-width: 100%;
    height: auto;
}

.pizza-item h2 {
    font-size: 24px;
    color: #ff6200;
    margin-left: 10px;
    text-align: left;
}

.pizza-item p {
    font-size: 16px;
    color: #333;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container-summary {
    display: flex;
    flex: auto;
    margin-bottom: 10px;
}

.flex-container img {
    margin-right: 5px;
}

.pizza-item button {
    background-color: #ff8c00;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    max-width: 80px;
    border-radius: 5px;
    margin: auto;
}

.badge {
    position: absolute;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
}

.badge.new {
    background-color: #ff0000;
}

.badge.popular {
    background-color: #28a745;
}

.flag-badge.high {
    top: 0px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 90%, 0% 100%);
    height: 100px;
    padding: 5px 10px;
    position: absolute;
}

.flag-badge.low {
    bottom: 0px;
    clip-path: polygon(0% 0%, 50% 10%, 100% 0%, 100% 100%, 0% 100%);
    height: 100px;
    width: 80px;
    padding: 5px 10px;
    position: fixed;
    margin-left: 20px;
}

.flag-badge {
    opacity: 1;
    left: 10px;
    background-color: #ff8c00;
    color: white;
    font-weight: bold;
    text-align: center;
}

aside {
    background-color: #faf8f8;
    width: 300px;
    max-height: 130vh; 
    position: sticky;
    top: 0;
    right: 0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 0;
}

#bought {
    display: inline-block;
    color: #333;
    margin: 0;
    background-color: white;
    font-size: 19px;
    margin-top: auto;
    padding: 1em 0 1.4em 0.4em;
}

.clean {
    margin-left: 5px;
    color: #9a9999;
    background-color: white;
    padding: 0;
    font-size: 11px;
    width: 130px;
}

.top {
    background-color: white;
    height: 50px;
}

.order-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.order-list li {
    display: flex;
    justify-content: space-between;
    background-color: #faf8f8;
    padding-left: 10px;
    height: 120px;
    width: 100%;
    max-width: 100%;
    border-bottom: solid 0.7px #bdbcbc;
}

.order-list h3 {
    color: #ff8c00;
    background-color: #faf8f8;
    padding-left: 0;
    margin-top: auto;
}

.prop span {
    margin-right: 10px;
}

.changing-elements {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.plus,
.minus,
.delete {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.minus {
    background-color: #e94322;
    color: white;
    font-size: 16px;
    box-shadow: inset 0 0 5px rgb(239, 130, 130);
    border: solid 0.5px #e52a2a;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.minus:hover {
    background-color: #e52a2a;
}

.minus:active {
    transform: scale(0.95);
}

.plus {
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    box-shadow: inset 0 0 5px rgb(176, 243, 176);
    border: solid 0.5px #58d147;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.plus:hover {
    background-color: #58d147;
}

.plus:active {
    transform: scale(0.95);
}

.delete {
    background-color: white;
    color: #ff8c00;
    box-shadow: inset 0 0 5px rgb(224, 224, 224);
    border: solid 0.5px #d9cfcf;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete:hover {
    background-color: #d9cfcf;
}

.delete:active {
    transform: scale(0.95);
}

.order-total {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
}

#sum {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#sum span {
    margin: 0 10px;
}

.order-total button {
    background-color: #ff8c00;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0;
    width: 180px;
    height: 40px;
    margin-top: 10px;
    margin-right: 30px;
    border-radius: 0;
}

.boughtPizza{
    background-size: cover;
    width: 100px;
    height: 100px;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.prop {
    margin-top: 5px;
}
